
<!doctype html>
<html>
<head>

  <title>{{ movie.title }} | muvis</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://visjs.org/dist/vis-network.min.css" rel="stylesheet" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://visjs.org/dist/vis.min.js"></script>

  <script>

    function search_button_loading(dots_count) {
      $("#movie_search").text('just a sec' + '.'.repeat(dots_count));
      setTimeout(search_button_loading, 180, (dots_count + 1) % 4);
    }

    $(function() {

      $( "#movie_url" ).autocomplete({
        source: function (request, response) {
          $.get("/imdber?term=" + request.term, function (data) {

            var aso = JSON.parse(data.replace(/'/g, '"'));

            var y = $.map(aso.results, function (value, key) {
              return {
                label: value,
                value: key
              };
            });

            response(y);

          });
        },
        minLength: 2,
        delay: 100,
        select: function( event, ui ) {
          search_button_loading(1);
          setTimeout(function() { $("#movie_search").click(); }, 2000);
        }
      } );
    } );

    $(document).ready(function() { $("#movie_search_container").fadeIn(); });

  </script>

  <style type="text/css">
    #mynetwork {
      width: 2000;
      height: 1000px;
      border: 1px solid white;
    }
  </style>
  
</head>
<body>

  <div id="movie_search_container" class="container" hidden>

    <div class="help-block"></div>

    {% if message %}

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning">
          {{ message }}
        </div>
      </div>
    </div>

    {% endif %}

    <form action="/muvis" method="get">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="movie_url" name="bf" placeholder="{{ random_search_placeholder }}" style="text-align:center">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-5">
          <button id="movie_search" type="submit" class="btn btn-lg btn-primary col-md-3">visualise it</button>
        </div>
      </div>

    </form>

  </div>

  <div id="mynetwork"></div>

  <script type="text/javascript">

  // create an array with nodes
  var nodes = new vis.DataSet( {{ nodes|safe }} );

  // create an array with edges
  var edges = new vis.DataSet( {{ edges|safe }} );

  // create a network
  var container = document.getElementById('mynetwork');
  
  var data = {
    nodes: nodes,
    edges: edges
  };
  
  var options = {
    nodes: {
      borderWidth : 4,
      color: {
        border : '#222222',
        background : '#000000'
      },
      font: {
        color : '#9370db'
      }
    },
    edges: {
      color: 'lightgray'
    }
  };

  var network = new vis.Network(container, data, options);

  network.on("doubleClick", function (params) {

    params.event = "[original event]";

    if (params['nodes'].length == 1) {
      var bf = params['nodes'][0]
      var url = "http://www.imdb.com/title/" + bf;
      var imdb_url = window.open(url, '_blank');
      imdb_url.focus();
    }

  });

</script>

</body>
</html>
