
<div id="movie_search_container" class="container" hidden>

  <div class="help-block"></div>

  {% if message %}

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning">
        {{ message }}
      </div>
    </div>
  </div>

  {% endif %}

  <form action="/i" method="get">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text" class="form-control input-lg" id="movie_url" name="bf" placeholder="{{ random_search_placeholder }}" style="text-align:center">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-5">
        <button id="movie_search" type="submit" class="btn btn-lg btn-primary col-md-3">visualise it</button>
      </div>
    </div>

  </form>

</div>
